<!doctype html>
<html>

<head>
	<title>Demo Page</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<style>
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
		width: 30%;
		text-align: center;
	} 
</style>
<body>
	{{{body}}}
</body>
</html>