<div class="center">
    <div class="center-child">
        <h3>About</h3>
    </div>
</div>

<div class="center">
    <div class="center-child">
        <div id="about-container">
            <div class="about-wrapper">
                <h4>What We Do</h4>
                <p>
                    content content content <br><br><br>
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                     quae ab illo inventore veritatis et quasi architecto beatae vitae 
                     dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit 
                     aspernatur aut odit aut fugit, sed quia consequuntur magni dolores 
                     eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, 
                     qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed 
                     quia non numquam eius modi tempora incidunt ut labore et dolore magnam 
                     aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem 
                     ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
                     Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil 
                     molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
                </p>
            </div>
            <div id="vl"></div>
            <div class="about-wrapper">
                <h4>Contact</h4>
                <p>
                    email: bideo.moobie@yahoo.com<br>
                    phone: 554 443 2211
                </p>
            </div>
        </div>
    </div>
</div>
<div class="center">
    <div id="contact-container">
        <h4>Questions?</h4>
        <form id="contact-form">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="email">E-mail:</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="user-text">What can we help you with?</label><br>
            <textarea type="text" id="user-text" name="user-text">
            </textarea>
            <input type="submit" id="submit-button" value="Submit">
        </form>
    </div>
</div>