<!-- Import modules for Bootstrap carousel-->
<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>

<div class="page-content">
  <!-- Central Image  -->
  <div class="center">
      <div id="home-center">
        <img id="home-image" src="images/home/senad-palic-yasqKWNIi5o-unsplash.jpg">
        <a id="home-src" href="https://unsplash.com/photos/yasqKWNIi5o">Source: Senad Palic</a>
      </div>
  </div>


  <!-- Carousel -->
  <div id="home-carousel" class="carousel slide center" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="home-carousel-slide">
          <img src="images/home/dreamstime-laserdisc-man.PNG">
          <a class="left-img-src" href="https://www.dreamstime.com/royalty-free-stock-image-man-retro-laser-disc-image25062836">Source: Dreamstime</a>
          <img src="images/home/pexels-anthony-157541.jpg">
          <a class="right-img-src" href="https://www.pexels.com/photo/3-black-vhs-157541/">Source: Pexels</a>
        </div>
      </div>
      <div class="item">
        <div class="home-carousel-slide">
          <img src="images/home/pexels-dmitry-demidov-3920974.jpg">
          <a class="left-img-src" href="https://www.pexels.com/photo/close-up-photo-of-cassette-tape-3920974/">Source: Pexels</a>
          <img src="images/home/300-hd-dvd.jpg">
          <a class="right-img-src" href="https://www.videogamex.com/300">Source: VideoGameX</a>
        </div>
      </div>
      <div class="item">
        <div class="home-carousel-slide">
          <img src="images/home/pexels-zafiro-media-7584538.jpg">
          <a class="left-img-src" href="https://www.pexels.com/photo/vintage-technology-music-sony-7584538/">Source: Pexels</a>
          <img src="images/home/shrek-melee.jpg">
          <a class="right-img-src" href="https://imgur.com/gallery/2piJ5Et">Source: Imgur</a>
        </div> 
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"><</span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>