<div class="page-content">
    <div class="center">
        <div class="center-child">
            <h3>Purchase</h3>
        </div>
    </div>


    <div class="center">
        <div id="center-purchase">
            <div id="purchase-container">
                <div>
                    <img id="purchase-img-lrg" src="images/purchase/flea-market-67370_1920.jpg">
                    <ul id="gram-icons">
                        <li><img id="gram1" class="img-icon" src="images/purchase/flea-market-67370_1920.jpg"></li>
                        <li><img id="gram2" class="img-icon" src="images/purchase/gramophone-1721946_1920.jpg"></li>
                        <li><img id="gram3" class="img-icon" src="images/purchase/gramophone-2290556_1920.jpg"></li>
                    </ul> 
                    <a href="downloads/gramophone-images.zip" download>Download Images</a>
                </div>


                <!-- Item information -->
                <div id="purchase-blurb">
                    <h3>Gramophones</h3>
                    <h5> BUY BUY BUY </h5>       
                    <p>
                        PLEASE buy our gramophones! <br>
                        We have absolutely no idea what to do with these!! <br>
                        There's like 600 of them in our warehouse... <br>
                        We're practically giving them away. <br><br>

                        <b>Price</b>: $10,000 per 'phone (bitcoin only)<br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="js/purchase.js"></script>
</div>