<!doctype html>
<html>

<head>
	<title>Bideo</title>
	<!-- Stylesheet + Logos for Footer-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
	<link rel="stylesheet" href="css/style.css">
<body>
	<div class="page-wrapper">
		{{#> header}}
		{{/header}}

		{{{ body }}}

		{{#> footer}}
		{{/footer}}
	</div>	
</body>
</html>
