<footer id="footer">
    <ul>
      <li><a href="https://github.com/spoonser" target="_blank" class="fa fa-github fa-lg"></a></li>
      <li><a href="https://www.linkedin.com/in/spencer-wagner-391764158/" target="_blank" class="fa fa-linkedin fa-lg"></a></li>
    </ul>
</footer>