<header id="header">
    <div id="header-items" class="center">
        <h3 id="logo">bideo</h3>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="store">Store</a></li>
            <li><a href="purchase">Purchase</a></li>
            <li><a href="about">About</a></li>
        </ul>
    </div>
</header>